body {
    background: lightblue;
}

.headings {
    text-align: center;
}

li, .formLook {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    text-align: center;


  }

  .formLook {
      background: #faebd7;
  }